.header__lang-link_en {
  color: #fff;
  padding-right: 0;
  text-decoration: none;
  transition: opacity 0.4s ease-in-out 0.1s;
}

.header__lang-link_en:last-child {
  margin: 0;
}

.header__lang-link_en:hover {
  opacity: 50%;
}
