.logo {
  background: url('../../images/logo/header-logo.svg');
  width: 176px;
  height: 52px;
}

@media (max-width: 320px) {
  .logo {
    width: 142px;
    height: 42px;
    background-position: center;
    background-size: contain;
  }
}

@media (max-width: 700px) {
  .logo {
    width: 142px;
    height: 42px;
    background-position: center;
    background-size: contain;
  }
}
