.intro__text {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63em;
  margin: 0;
  margin-top: 40px;
}

@media (max-width: 745px) {
  .intro__text {
    margin-right: 20px;
  }
}

@media (max-width: 320px) {
  .intro__text {
    margin-right: 0;
  }
}
