.intro {
  margin: 92px 148px 0;
  max-width: 690px;
}

@media (max-width: 1024px) {
  .intro {
    margin-left: 48px;
  }
}

@media (max-width: 768px) {
  .intro {
    margin: 88px 0 0 24px;
  }
}

@media (max-width: 767px) {
  .intro {
    margin: 88px 9px 0;
  }
}

@media (max-width: 320px) {
  .intro {
    margin: 64px 9px 0;
  }
}
