@import url(./__background/cover__background.css);
@import url(./__link/cover__link.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__title/cover__title.css);
@import url(./__container/cover__container.css);

.cover {
  display: flex;
  width: 1184px;
  height: 740px;
  background: url('../../images/lots-of-train.jpg');
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  margin: 92px auto 0;
  position: relative;
  transition: 0.1s ease 0.4s;
}

.cover::before {
  content: '';
  background: #2a2c2f;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 30%;
}

.cover:hover {
  opacity: 50%;
}

@media (max-width: 1024px) {
  .cover {
    width: 1020px;
    height: 640px;
  }
}
