.place__link {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.1em;
  transition: opacity 0.4s ease-in-out 0.1s;
}

.place__link:hover {
  opacity: 50%;
  cursor: url(../../../images/cursor.png), pointer;
}
