.intro__title {
  color: #fff;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07em;
  margin: 0;
}

@media (max-width: 500px) {
  .intro__title {
    max-width: 80%;
    font-size: 10vw;
    line-height: 1.1em;
  }
}
